@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'MICEGothic Bold';
  font-weight: 400;
}

a{
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}


.wallpaper {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 폴더 ================================================== */


/* 폴더 */
.backFolder{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: none;
}


/* 이력서 폴더 */
.backFolder2{
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  display: none;
}

.backFolder2 .windowIcon img{
  width: 70px;
}

.backFolder2 .windowIcon .folderedge{
  width: 75px;
  height: 86px;
}

/* 폴더 왼쪽 */
.folderLeft{
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
}

/* 창 조절 */
.folderSetting{
  height: 10%;
  display: flex;
}

/* 버튼 */
.folderSetting span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto 4px;
}

.folderSetting span:nth-of-type(1){
  margin-left: 15px;
  background-color: red;
  cursor: pointer;
}

.folderSetting span:nth-of-type(2){
  background-color: orange;
  cursor: pointer;
}

.folderSetting span:nth-of-type(3){
  background-color: green;
  cursor: pointer;
}

.containerTop div{
  margin: auto 10px;
  font-size: 12px;
}

.folderKategorie span{
  position: relative;
  display: block;
  font-family: 'S-CoreDream-3Light';
  color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  font-size: 5px;
  padding: 5.1px;
  padding-left: 35px;
  cursor: pointer;
}

.folderKategorie span i{
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  color: rgb(48, 100, 255);
}


.folderKategorie span:nth-of-type(1){
  font-size: 5px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 12px;
}

.folderKategorie span:nth-of-type(13){
  font-size: 5px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 12px;
  margin-top: 5px;
  letter-spacing: 0.5px;
}

.folderRight{
  width: 80%;
  height: 100%;
  background-color: white;
  float: right;
  border-left: 1px solid #ddd;
  box-sizing: border-box;
}

.folderTop{
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 10%;
  display: flex;
}

.folderContent{
  height: 80%;
}

.folderBottom{
  height: 10%;
  display: flex;
  border-top: 1px solid #ddd;
}

/* 폴더 안에 아이콘 */
.folderContent .windowIcon{
  position: relative;
  width: 160px;
  height: 130px;
  margin: 20px;
}

/* 폴더 안에 아이콘 이미지 */
.folderContent .windowIcon img{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,0%);
}

/* 폴더 안에 폴더 이름 */
.folderContent .windowIcon span{
  width: 100px;
  top: 85%;
  left: 50%;
  color: #333333;
  text-shadow : none;
  font-size: 10px;
  
}

/* 폴더안에 아이콘 이미지2 */
.folderContent .icon{
  width: 140px;
  height: 80px;
  cursor: pointer;
}

/* 아이콘 커버 */
.folderedge{
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 90px;
  background-color: white;
  box-shadow : 0px 1px 4px rgba(0, 0, 0, 0.3);

}

.folderTop span{
  margin: auto 0;
  margin-left: 10px;
  font-size: 12px;
  color: #333333;
}

.folderTop span i{
  margin: auto 10px;
  color: #aaa;
}

/* ================================================== */

.iconDiv{
  width: 230px;
}


.icon{
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.blur{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.blur div:nth-of-type(1){
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  float: left;
}
.blur div:nth-of-type(2){
  float: left;
  width: 45%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.blur div:nth-of-type(3){
  float: left;
  width: 10%;
  height: 10%;
  background: radial-gradient(transparent 40%, rgba(0, 0, 0, 0.3) 50%);
  
}
  

.blur div:nth-of-type(4){
  float: right;
  width: 45%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.blur div:nth-of-type(5){
  clear: both;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
}

.windowIcon{
  border-radius: 3px;
  display: inline-block;
  position: relative;
  width: 70px;
  height: 90px;
  margin: 5px;
  cursor: pointer;
  /* animation: vibration2 0.2s infinite; */

}

.windowIcon:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.windowIcon img{
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%,0%);
}

.windowIcon span{
  text-align: center;
  width: 90px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,0%);
  color: #eee;
  text-shadow : 0px 1px 2px rgba(0, 0, 0, 1);
  font-size: 12px;
}

/* ================================================== */


.resume{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  border-radius: 10px;
  overflow: hidden;
}

.resumeContent{
  width: 600px;
  height: 600px;
  background-color: #eee;
  margin-top: 50px;
  padding:20px 10px;
  overflow: auto;
}

.resume .containerTop{

  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

}

p{
  font-family: 'S-CoreDream-3Light';
}

@keyframes vibration2 {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
}