
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChosunGu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}


a{
  color: rgba(68, 0, 136);
  text-decoration: none;
  transition: 2s;
}

body{
  transition: 2s;
}

/* ================================================== */
/* 컨테이너 */

.containerTop{
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #eee;
  z-index: 2;
}


.containerBottom{
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  background-color: #eee;
  z-index: 2;
}

/* ================================================== */
/* 골격 */


.mainDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 75%;
  height: 85%;
  transition: 0.5s;
  border-radius: 12px;
  overflow: hidden;
  display: none;
}

.bigMainDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 0px;
  overflow: hidden;
  display: none;
}




/* 
/* ================================================== */
/* 컨텐트 */


/* 명함 박스 */
.content{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

/* 5배 박스 */
.cardBox{
  position: absolute;
  width: 600%;
  height: 100%;
  transition: 1s;
}

/* 기준 박스 */
.innerCardBox{
  position: relative;
  width: 16.66%;
  height: 100%;
  float: left;
}


/* 명함 틀 */
.card{
   /* 36 , 20 */
   width: 900px;
   height: 500px;
   background-color: #fff;
 
   position: absolute;
   top: 53%;
   left: 50%;
   transform: translate(-50%, -50%);
   overflow: hidden;
   transition: 0.3s;
 
   box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.back{
  position: absolute;
  width: 100%;
  height: 65%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 100%);
  background-color: rgba(68, 0, 136);
}

/* ================================================== */
/* 명함 안 */


/* 종이 질감 */
.texture{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 936px;
  height: 520px;
  background-image: url(../img/paper1.jpg);
  opacity: 0.5;
  z-index: 1;
}

/* 컨텐츠 박스 */
.cardContent{
  position: absolute;
  z-index: 2;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 82%;

}

/* 쳅터 박스 */
.ch h2{
  font-family: 'TmonMonsori'; 
  font-weight: 400; 
  font-size: 28px;
  line-height: 50px;
  color: rgba(68, 0, 136);
}

/* 소제목 박스 */
.content1{
float: left;
width: 28%;
}

/* 컨텐츠 박스 */
.content2{
  float: right;
  width: 58%;
  margin-top: 500px;
  transition: 2s;
  line-height: 100%;
}

/* 소제목 */
.content1 h1{
  font-family: 'TmonMonsori'; 
  font-weight: 400; 
  font-size: 50px;
  line-height: 65px;
  color: rgba(68, 0, 136);
}

/* 소제목 글귀 */
.content1 h2{
  font-family: 'ChosunGu';
  font-weight: 400;
  font-size: 13px;
  color: black;
  line-height: 20px;
}

.spanTitle, .spanTitle3{
  font-family: 'TmonMonsori'; 
  position: relative;
  font-size: 18px;
  font-weight: 900;
  float: left;
  letter-spacing: 2px;
  line-height: 28px;
  top: 4px;
  color: rgb(55, 55, 55);
  margin-bottom: 15px;

}

.spanTitle3{
  margin-bottom: 10px;
}


.spanTitle4{
  font-family: 'TmonMonsori'; 
  position: relative;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 28px;
  top: 4px;
  color: rgb(55, 55, 55);
  margin-bottom: 15px;
  display: block;
}


.content2 .spanSub{
  position: relative;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  float: left;
  top: 10px;
  left: 5px;
}


/* 컨텐츠 내용 */
.spanCon{
  clear: both;
  display: block;
  font-family: 'ChosunGu';
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
  color: black;
  margin: 45px 0 27px 0;
}


.spanCon1{
  position: relative;
  display: block;
  font-family: 'ChosunGu';
  font-weight: 500;
  font-size: 16px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 34px;
}


.spanCon3, .spanCon5{

  clear: both;
  display: block;
  font-family: 'ChosunGu';
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 2px;
  color: black;
  margin: 0px 0 30px 0;

}

.spanCon5{
  margin-bottom: 20px;
}

.spanCon4{
  display: inline-block;
  font-family: 'ChosunGu';
  font-weight: 500;
  font-size: 15px;
  line-height: 34px;
  letter-spacing: 1px;
  color: black;
  margin: 0 25px 40px 0;
}


/* 컨텐츠 구두점 */
.spanTitle::after, .spanCon1::after, .spanTitle3::after, .spanTitle4::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -20px;
  transform: translate(-50%);

  width: 8px;
  height: 8px;
  background-color: rgba(68, 0, 136);

}

.spanCon1::after{
  top: 13px;

}

/* ================================================== */
/* 컨텐츠 버튼 */

input[name=nav]{
  display: none;
}

.btn{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  width: 700px;
  height: 85px;
  display: flex;
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
  z-index: 2;
}


.btn label img{
  width: 100px;
  height: 60px;
}

.btn label{
  display: inline-block;
  cursor: pointer;
  margin: auto;
  transition: 0.5s;
  height: 60px;
}

.btn2 span:nth-child(1){
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 16%;
  transform: translate(-270%,-50%);
}

.btn2 span:nth-child(2){
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 84%;
  transform: translate(170%,-50%);
}

.btn2 span{
  font-family: 'TmonMonsori'; 
  font-weight: 400; 
  font-size: 60px;
  color: lightgray;
  cursor: pointer;
  transition: 0.5s;
}

input[id=nav1]:checked ~ .cardBox{
  left: 0;
}

input[id=nav2]:checked ~ .cardBox{
  left: -100%;
}

input[id=nav3]:checked ~ .cardBox{
  left: -200%;
}

input[id=nav4]:checked ~ .cardBox{
  left: -300%;
}

input[id=nav5]:checked ~ .cardBox{
  left: -400%;
}

input[id=nav6]:checked ~ .cardBox{
  left: -500%;
}
input[id=nav1]:checked ~ .btn label[for=nav1] img,
input[id=nav2]:checked ~ .btn label[for=nav2] img,
input[id=nav3]:checked ~ .btn label[for=nav3] img,
input[id=nav4]:checked ~ .btn label[for=nav4] img,
input[id=nav5]:checked ~ .btn label[for=nav5] img,
input[id=nav6]:checked ~ .btn label[for=nav6] img{
  /* background-color: w(68, 0, 136); */
  border-bottom: 4px solid rgba(68, 0, 136);
} 
 
input[id=nav1].active ~ .cardBox .innerCardBox:nth-of-type(1) .content2,
input[id=nav2].active ~ .cardBox .innerCardBox:nth-of-type(2) .content2,
input[id=nav3].active ~ .cardBox .innerCardBox:nth-of-type(3) .content2,
input[id=nav4].active ~ .cardBox .innerCardBox:nth-of-type(4) .content2,
input[id=nav5].active ~ .cardBox .innerCardBox:nth-of-type(5) .content2,
input[id=nav6].active ~ .cardBox .innerCardBox:nth-of-type(6) .content2{
  animation: move ease-in-out 0.7s;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
   
} 

@keyframes title {
  0%{}
  100%{opacity: 1;}

} 

@keyframes move {
  0%{}
  100%{margin-top: 0;}

}

@keyframes vibration {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
}

/* ================================================== */
/* 부가 기능 */

.card:hover{
  top: 52%;
} 
