@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  font-family: 'MICEGothic Bold';
  font-weight: 400;
}

a{
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

body{
  background-image: url(../img/wallpaper.jpg);
  object-fit: cover;
  width: 100vw;
  clip: rect( 20px, 220px, 220px, 20px );

}


.blur{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.blur div:nth-of-type(1){
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
  float: left;
}
.blur div:nth-of-type(2){
  float: left;
  width: 45%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.blur div:nth-of-type(3){
  display: inline-block;
  float: left;
  width: 10%;
  height: 10%;
  background: radial-gradient(transparent 40%, rgba(0, 0, 0, 0.3) 50%);
  
}
  

.blur div:nth-of-type(4){
  float: right;
  width: 45%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.3);
}

.blur div:nth-of-type(5){
  clear: both;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* 전체박스 */
.client{
  background-color: #fff;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1600px;
  height: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

/* 로그인 박스 */
.login{
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 25%;
  height:100%;
}

/* 라이엇 로고 */
.mainLogo{
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 40px;
}

/* 로그인 컨텐츠들 */
.loginContent{
  width: 78%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* 로그인 */
.loginContent .loginWord{
  text-align: center;
}

.loginContent h2{
  margin-bottom: 25px;
}


/* 로그인 입력폼 */
.loginContent input[type=text],.loginContent input[type=password] {
  position: relative;
  width: 97%;
  height: 38px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  margin-bottom: 17px;
  padding-left: 9px;
  padding-top: 12px;
  font-size: 16px;
  letter-spacing: 1px;
}

.loginContent input[type=password]{
  letter-spacing: 2px;
}


.loginContent .id{
  position: relative;
}

.loginContent .passwd{
  position: relative;
}


/* 로그인 글자 */
.loginContent .idSpan {
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 7%;
  color: rgb(120, 120, 120);
  transition: 0.2s;
}

/* 비밀번호 글자 */
.loginContent .passwdSpan{
  font-size: 10px;
  letter-spacing: 1px;
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 7%;
  color: rgb(120, 120, 120);
  transition: 0.2s;
}


/* 로고 박스 */
.logos{
  display: flex;
  margin: 5px 0 20px 0;
}

.logos span{
  display: inline-block;
  width: 32%;
  height: 32px;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
}

.logos span i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.logos span:nth-of-type(1) i{
  font-size: 19px;
}

.logos span:nth-of-type(2) i{
  font-size: 15px;
  color: rgb(65, 65, 255);
}

.logos span:nth-of-type(3) i{
  font-size: 22px;
}



.logos span:nth-of-type(1){
  background-color: rgb(65, 65, 255);

}

.logos span:nth-of-type(2){
  background-color: white;
  border: 2px solid #ddd;
  box-sizing: border-box;
  margin: 0 10px;

}


.logos span:nth-of-type(3){
  background-color: rgb(50, 50, 50);
}

input[type=checkbox]{
  display: none;
}

.loginContent label{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #ddd;
  cursor: pointer;
}

.stay{
  font-size: 14px;
}



/* ================================================== */

.loginContent2{
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.loginContent2 a{
  color: #bbb;
}

.fa-arrow-right{
  position: absolute;
  top: -110px;
  left: 50%;
  transform: translate(-50%, 0%);

  font-size: 25px;
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  border-radius: 25%;
  line-height: 60px;
  transition: 0.5s;
}

/* ================================================== */

.login_screan{
  box-sizing: border-box;
  float: left;
  width: 75%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

video{
  position: absolute;
  left: -10%;
  height: 100%;
}


